@font-face {
    font-family: "hkgrotesk-med";
    src: url("../../fonts/hkgrotesk-medium.woff") format('woff');
}

@font-face {
    font-family: "hkgrotesk-light";
    src: url("../../fonts/hkgrotesk-light.woff") format('woff');
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes flash-1 {
    0%, 100% { opacity: 0;}
    50% { opacity: 1; }
}


body {
    background: #273331;
    overflow: hidden;
}

.container {
    background: #273331;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}

.landing-text {
    color: #D76345;

    animation: fadein 6s;
}

h1 {
    font-family: "hkgrotesk-med", Arial;
    margin-bottom: -1rem;
}

h3 {
    font-family: "hkgrotesk-light", Arial;
}

.landing-ring {
    position: absolute;
    z-index: 0;
    width: 16rem;
    height: 16rem;
    padding-bottom: 7rem;

    animation: flash-1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: -3.5s;
}

.landing-ring-two {
    position: absolute;
    z-index: -1;
    width: 26rem;
    height: 26rem;
    padding-bottom: 7rem;

    animation: flash-1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: -3s;
}

.landing-ring-three {
    position: absolute;
    z-index: -2;
    width: 36rem;
    height: 36rem;
    padding-bottom: 7rem;

    animation: flash-1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: -2.5s;
}

.landing-ring-four {
    position: absolute;
    z-index: -3;
    width: 46rem;
    height: 46rem;
    padding-bottom: 7rem;

    animation: flash-1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: -2s;
}

.landing-ring-five {
    position: absolute;
    z-index: -4;
    width: 56rem;
    height: 56rem;
    padding-bottom: 7rem;

    animation: flash-1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: -1.5s;
}

.landing-ring-six {
    position: absolute;
    z-index: -5;
    width: 66rem;
    height: 66rem;
    padding-bottom: 7rem;

    animation: flash-1;
    animation-duration: 2s;
     animation-iteration-count: infinite;
     animation-delay: -1s;
}

.landing-ring-seven {
    position: absolute;
    z-index: -5;
    width: 76rem;
    height: 76rem;
    padding-bottom: 7rem;

    animation: flash-1;
    animation-duration: 2s;
     animation-iteration-count: infinite;
     animation-delay: -0.5s;
}

.landing-logo {
    width:15rem;
    height:15rem;

    animation: fadein 2s;
}

.landing-footer {
    position:absolute;
    margin-top: 20rem;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;

    animation: fadein 8s;
}

i {
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    color: #D76345;
}